<%= form_for page do |f| %>
    <%if page.errors.any?%>
      <div class = "alert alert-danger">
        <h4><%= pluralize(page.errors.count, "error")%>.</h4>
        <ul>
          <% page.errors.full_messages.each do |msg|%>
            <li><%=msg%></li>
          <%end%>
        </ul>
      </div>
    <%end%>
    <%= form_group_tag(page.errors[:title]) do %>
     <%= f.label :title %>
     <%= f.text_field :title, class: 'form-control' , placeholder: "Enter Title", :required => true %>
    <%end%>
    <%= form_group_tag(page.errors[:body]) do %>
     <%= f.label :body %>
     <%= f.text_area :body, class: 'form-control', placeholder: "Enter body" %>
    <%end%>
    <%if current_user.premium_user%>
      <%= form_group_tag(page.errors[:private]) do %>
       <%= f.label :private %>
         <%= f.check_box :private, class: 'checkbox' %>
       <% end %>
    <%else%>
      <div>
        <h3>All pages are publicly viewable and editable.</h3>
        <h4>Become a <%=link_to("Premium User",new_charge_path)%> to create private pages.</h4>
      <div>
    <%end%>
   <div class="form-group">
     <%= f.submit "Save", class: 'btn btn-success' %>
   </div>
 <% end %>
